#myCanvas {
  display: block;
  border: 6px solid black;
  margin: 0 auto
}

.btn{
  width: 100px;
  height: 50px;
  font-size: 20px;
  margin: 20px;
}



#btn {
  display: flex;
  justify-content: center;
}

#noti, #time {
  text-align: center;
  font-size: 30px;
}